<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class=" p-5 bg-white rounded ">
      <%= simple_form_for @service do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :category %>
        <%= f.input :price %>
        <%= f.input :user_id, collection: @user, label_method: :email, value_method: :id, prompt: "Seleccionar un usuario" %>
        
        <%= f.input :photo, as: :file %>
        <%= f.submit "Crear servicio", class: "btn btn-primary btn-block" %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="py-3 text-center">
    <%= link_to "VOLVER", services_path, class:"btn btn-primary" %>
  </div>
</div>
