

<div class="container">
  <h3>Nuestros Servicios</h3>
  <br>
  <div class="row">
    <% @services.each do |service| %>
       <div class="col-sm-6">
        <div class="card-producto p-2 mb-3">
          <div class="col-md-3">
            <%= cl_image_tag service.photo.key, height: 150, width: 150, crop: :fill %>
          </div>
          <div class="card-producto-infos">
            <h2><%= link_to service.title,  service_path(service)%></h2>
            <p><%= service.description %></p>
            <div class="d-flex justify-content-between">
              <div>
                <p>  Categoria: <strong><%= service.category %></strong></p>
              </div>
              <div>
                <p>  Precio: <strong>$ <%= service.price %></strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container">

  <div class="d-flex justify-content-start">
  
          <%= link_to 'Nuevo Servicio', new_service_path, class: "btn btn-outline-secondary" %>

  </div>
</div>
