<br>
<div class="container"> 
  <div class="row justify-content-center">
    <div class="col-md-7">
      <h3><center>Servicio de <%= @service.title %></center></h3>
      <br>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <%= cl_image_tag @service.photo.key, height: 200, width: 200, crop: :fill %>
        </div>
        <div class="col-md-8">
          <div class="p-3 bg-white rounded">      
            <p><%= @service.description %> </p>
            <h6>Precio: $ <strong><%= @service.price %></strong>  Rating: <strong></strong></strong><span class="fas fa-star"></span></strong><span class="fas fa-star"></span> </h6>
          </div>
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-start">
        <%= link_to 'Volver', services_path, class: "btn btn-outline-secondary" %>
        <% if user_signed_in? %>
          <% if policy(@service).edit? %>
            <%= link_to 'Editar servicio', edit_service_path(@service), class: "btn btn-outline-secondary  me-md-2" %>
          <% end %>
          <% if policy(@service).destroy? %>
            <%= link_to 'Eliminar servicio', service_path(@service), method: :delete, data: { confirm: "estas seguro que quieres eliminar el servicio?" }, class: "btn btn-outline-secondary"  %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-5">
      <h3><center>Realizar Reserva</center></h3>
      <br>
      <div class=" p-5 bg-white rounded "
      <br>
        <%= simple_form_for [@service, @booking] do |f| %>
          <%= f.input :address_client %>
          <%= f.input :start_date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :end_date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.submit "Reservar", class: "btn btn-primary btn-block mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <br> 
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h3><center>Comentarios</center></h3>
      <br>
      <% @service.bookings.each do |booking| %>
        <% booking.reviews.each do |review| %>
          <div class="comment"> 
            <i class="fas fa-user-circle fa-2x"></i>
            <div class="comment-content">
              <p><small><%= review.created_at.strftime("Commented on %d/%m/%Y at %I:%M%p") %></small> --> Rating: <%= review.rating %></strong><span class="fas fa-star"></span></p>
              <p><strong><%= review.content %></strong></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <br>
  </div>
</div>
</div>
<br>