<div class="container"> 
  <div class="row justify-content-center">
    <div class="col-md-7">
      <h3><center>Servicio de <%= @service.title %></center></h3>
      <div class="p-3 bg-white rounded">      
        <h6><%= @service.description %> </h6>
        <h6> Su Precio es de: $ <strong><%= @service.price %></strong> y pertenece a la Categoria: <strong><%= @service.category %></strong> </h6>
      </div>
      <br>
      <div class="d-flex justify-content-start">
        <%= link_to 'Volver', services_path, class: "btn btn-outline-secondary" %>
        <% if policy(@service).edit? %>
          <%= link_to 'Editar', edit_service_path(@service), class: "btn btn-outline-secondary  me-md-2" %>
        <% end %>
        <% if policy(@service).destroy? %>
          <%= link_to 'Eliminar', service_path, method: :delete, data: { confirm: "estas seguro que quieres eliminar el servicio?" }, class: "btn btn-outline-secondary" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <%= cl_image_tag @service.photo.key, height: 150, width: 150, crop: :fill %>
    </div>
    <br>
  </div>
</div>
</div>
<br>  <br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3><center>Realizar Reserva</center></h3>
      <div class=" p-5 bg-white rounded "
        <br>
        <%= simple_form_for [@service, @booking] do |f| %>
          <%= f.input :address_client %>
          <%= f.input :start_date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :end_date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container"> 
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <div class="justify-content-center">
        <br>
        <h3><center>Comentarios</center></h3>
        <% @service.bookings.each do |booking| %>
          <% booking.reviews.each do |review| %>
            <div class="comment"> 
              <i class="fas fa-user-circle fa-2x"></i>
              <div class="comment-content">
                <p><small><%= review.created_at.strftime("Commented on %d/%m/%Y at %I:%M%p") %></small></p>
                <p><strong><%= review.content %></strong></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <br>
    </div>
  </div>
</div>
