<div class="container">
  
  <%= link_to "Crear servicio", new_service_path, class: "btn btn-primary mb-4" %>
  <p> <strong>Bookings Registrados: </strong><%= @booking.where(status: "enabled").count %></p>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Encargado del servicio</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td class="v-align-middle">
            <%= service.title %>
          </td>
          <td class="v-align-middle">
            <%= service.user.email %>
          </td>
          <td class="v-align-middle">
            <%= service.price %>
          </td>
          <td class="v-align-middle">
            <%= link_to 'Editar', edit_service_path(service), class: "btn btn-primary" %>
            <%= link_to 'Eliminar', service_path(service), method: :delete, data: { confirm: "Esta seguro de eliminar el servicio?" }, class: "btn btn-danger"  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h1 style="font-family: 'Ubuntu Condensed', sans-serif;" class="mb-4">Administración de Perfiles de Usuarios</h1>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Nivel de permiso</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="v-align-middle">
            <%= user.email %>
          </td>
          <td class="v-align-middle">
            <%= user.permission_level %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>