                        
<div class="row">
  <div class="col-lg-6">
    <h2 style="font-family: 'Ubuntu Condensed', sans-serif;">Servicios Agendados</h2>
  </div>
  <div class="col-lg-6 d-none d-lg-block">
    <h2 style="font-family: 'Ubuntu Condensed', sans-serif;">Ubicacion del cliente</h2>
  </div>
</div>
<div class="container">    
  <% @user.services.each do |c| %>
    <% c.bookings.each do |booking| %>
      <% if booking.status == "enabled" %>
        <div class="row">
          <div class="col-lg-6">
            <div class="card-booking">
              <%= cl_image_tag booking.service.photo.key, height: 150, width: 150, crop: :fill %>
              <div class="card-booking-infos">
                <h3><%= booking.service.title %></h2>
                <p><strong>Inicio de Servicio:</strong> <%= booking.start_date.strftime("Dia: %d/%m/%Y hora: %I:%M%p") %></p>
                <p><strong>Fin de Servicio:</strong> <%= booking.end_date.strftime("Dia: %d/%m/%Y hora: %I:%M%p") %></p>
                <%= link_to "Finalizar Servicio", completed_path(booking.id), data: { confirm: "Esta seguro de finalizar el servicio?" } %>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card-booking">
              <div class="card-booking-infos">
                <p><strong>Correo cliente:</strong> <%= booking.user.email %></p>
                <p><strong>Dirección cliente:</strong> <%= booking.address_client %></p>
                 <!-- Button trigger modal -->
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                  Ir al Mapa</button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><%= booking.address_client %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                  
                        </button>
                      </div>
                        <% raise %>
                        
                      <div class="modal-body">

                        <div id="map"
                          style="width: 100%; height: 600px;"
                          data-markers="<%= @markers.to_json %>"
                          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
                          
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>    
    <% end %>      
  <% end %>
</div>
<br>
<br>