<br><br><br>
<div class="banner">
   <h1>BelDom</h1> 
</div>

<div class="container-home">
  <div class="d-flex justify-content-center">
    <div class="row align-center">
      <div class="col-6">
        <div class="text-center">
          <img src="https://ead.unach.cl/wp-content/uploads/2020/07/salud-OMS-e1551914081412.jpg" class="img-top" alt="..."> 
          <%= link_to "Salud","#", class: "btn btn-primary btn-homepage px-5 "%>
        </div>
      </div>  
      <div class="col-6">
        <div class="text-center">
          <img src="https://definicion.mx/wp-content/uploads/2015/02/Belleza.jpg" class="img-top" alt="...">
          <%= link_to "Belleza","#", class: "btn btn-primary btn-homepage px-5"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-beldom">
  <div class="text-center">
    <img src="https://st.depositphotos.com/2325841/2529/i/950/depositphotos_25293855-stock-photo-multi-ethnic-group-thumbs-up.jpg" class="img-bel" alt="...">
      <p>En BelDom somos una red de emprendedores dedicados a la salud y belleza,
       nos especializamos en llevar nuestros servicios a la comodidad de 
       tu hogar y con la mejor calidad</p>            
    </div>  
  </div>
</div>
<div class="container">
  <div class="text-center">
   <h2>Nuestros servicios</h2>
  </div>
  <div class="row">
    <% @services.each do |service| %>
 
      <div class="col-sm-6">
        <div class="card-producto p-3 mb-3">
          <div>
            <img src="https://images.unsplash.com/photo-1571290274554-6a2eaa771e5f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" />
          </div>
          <div class="card-producto-infos">
            <h2><%= link_to service.title,  service_path(service)%></h2>
            <p><%= service.description %></p>
            <div class="d-flex justify-content-between">
              <div>
                <p>  Categoria: <strong><%= service.category %></strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="py-3 text-center">
    <%= link_to "Ir a servicios", services_path, class:"btn btn-primary" %>
  </div>
</div>  
