<div class="container">
  <div class="about-section">
    <h1>Quienes somos</h1>
    <p>BelDom es una red de emprendedores especializados y dedicados a la cosmética y estética, cuyo objetivo principal es satisfacer las necesidades de nuestros clientes.</p>  
    <h1>Mision</h1>
    <p>Al elegirnos ten en cuenta que nuestra misión es satisfacer las necesidades de nuestros clientes mediante servicios de excelencia en calidad, brindados por un personal altamente capacitado y profesional, que inspira confianza y seriedad, todo ello cumpliendo con los debidos protocolos de prevención del COVID-19.</p>
    <h1>Vision</h1>
    <p>Con el aporte de nuestros colaboradores y contigo eligiendo nuestros servicios, queremos llegar a ser reconocidos en el mercado local, y ser identificados por nuestro profesionalismo, calidad y excelente servicio al cliente, y convertirnos en la mejor opción en el mercado dentro de nuestra área física de operación.</p>
    <h1>Nuestro equipo</h1>
    <p> Todos quienes trabajamos en BelDom somos profesionales certificados en distintas áreas de Cosmética, Belleza y Estética . Cada miembro de nuestro equipo posee una amplia experiencia lo que permite a BelDom entregar nuestros servicios de manera segura en la comodidad de su hogar.</p>
    <p>Nuestros especialistas trabajan solamente con productos certificados, para mantener así un alto estándar de satisfacción y calidad,lo que, unido a la experiencia de nuestros colaboradores, nos ayuda a conseguir un alto nivel de satisfacción y seguridad para nuestros clientes. </p>
  </div> 
  <div class="cards">    
    <div class="card">
      <div class="container">
        <div class="card-person">
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
          <h3>Carolina Tordecilla</h3>             
        </div>
        <p class="title">Directora y Fundadora</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sociis, quis enim metus semper molestie aenean ante ligula, fermentum felis donec sodales eleifend pulvinar tristique. Blandit turpis quis nam litora ultricies porttitor vivamus lacus, mi montes porta nisl pharetra cubilia eros morbi, dictum metus eu fermentum mauris accumsan sodales. Volutpat mus eleifend semper fusce magna dapibus blandit litora, cubilia eu nisl ultrices justo curabitur facilisi, congue risus vel praesent convallis turpis vivamus.</p>
        <p>carolina.t@ejemplo.cl</p>
        <%= link_to "https://www.gmail.com", target: "_blank" do  %>
          <button class="btn btn-primary">Contacto</button></p>
        <% end %>
      </div>        
    </div>          
    <div class="card">        
      <div class="container">
        <div class="card-person">
          <img class="avatar" alt="avatar" src="https://res.cloudinary.com/karina0522/image/upload/v1630614586/tarea_olikye.jpg" />
          <h3>Karina Contreras</h3>             
        </div>
        <p class="title">Esteticista</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sociis, quis enim metus semper molestie aenean ante ligula, fermentum felis donec sodales eleifend pulvinar tristique. Blandit turpis quis nam litora ultricies porttitor vivamus lacus, mi montes porta nisl pharetra cubilia eros morbi, dictum metus eu fermentum mauris accumsan sodales. Volutpat mus eleifend semper fusce magna dapibus blandit litora, cubilia eu nisl ultrices justo curabitur facilisi, congue risus vel praesent convallis turpis vivamus.</p>
        <p>karina.c@ejemplo.cl</p>
        <%= link_to "https://www.gmail.com", target: "_blank" do  %>
          <button class="btn btn-primary">Contacto</button></p>
        <% end %> 
      </div>        
    </div>          
    <div class="card">        
      <div class="container">
        <div class="card-person">
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
          <h3>Daniel Córdoba</h3>             
        </div>  
        <p class="title">Tatuador</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sociis, quis enim metus semper molestie aenean ante ligula, fermentum felis donec sodales eleifend pulvinar tristique. Blandit turpis quis nam litora ultricies porttitor vivamus lacus, mi montes porta nisl pharetra cubilia eros morbi, dictum metus eu fermentum mauris accumsan sodales. Volutpat mus eleifend semper fusce magna dapibus blandit litora, cubilia eu nisl ultrices justo curabitur facilisi, congue risus vel praesent convallis turpis vivamus.</p>
        <p>daniel.c@ejemplo.cl</p>
        <%= link_to "https://www.gmail.com", target: "_blank" do  %>
          <button class="btn btn-primary">Contacto</button></p>
        <% end %>
      </div>        
    </div>         
    <div class="card">        
      <div class="container">
        <div class="card-person">
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
          <h3>Sergio Quiroga</h3>             
        </div>
        <p class="title">Aroma Terapeuta</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sociis, quis enim metus semper molestie aenean ante ligula, fermentum felis donec sodales eleifend pulvinar tristique. Blandit turpis quis nam litora ultricies porttitor vivamus lacus, mi montes porta nisl pharetra cubilia eros morbi, dictum metus eu fermentum mauris accumsan sodales. Volutpat mus eleifend semper fusce magna dapibus blandit litora, cubilia eu nisl ultrices justo curabitur facilisi, congue risus vel praesent convallis turpis vivamus.</p>
        <p>sergio.q@ejemplo.cl</p>
        <%= link_to "https://www.gmail.com", target: "_blank" do  %>
          <button class="btn btn-primary">Contacto</button></p>
        <% end %>
      </div>        
    </div>         
    <div class="card">        
      <div class="container">
        <div class="card-person">
          <img class="avatar" alt="avatar" src="https://res.cloudinary.com/karina0522/image/upload/v1630614450/Marcia_cr3kqr.jpg" />
          <h3>Marcia Delgado</h3>             
        </div> 
        <p class="title">Especialista en piercings</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sociis, quis enim metus semper molestie aenean ante ligula, fermentum felis donec sodales eleifend pulvinar tristique. Blandit turpis quis nam litora ultricies porttitor vivamus lacus, mi montes porta nisl pharetra cubilia eros morbi, dictum metus eu fermentum mauris accumsan sodales. Volutpat mus eleifend semper fusce magna dapibus blandit litora, cubilia eu nisl ultrices justo curabitur facilisi, congue risus vel praesent convallis turpis vivamus.</p>
        <p>marcia.d@ejemplo.cl</p>
        <%= link_to "https://www.gmail.com", target: "_blank" do  %>
          <button class="btn btn-primary">Contacto</button></p>
        <% end %>
      </div>
    </div>      
  </div>
  <br><br><br>
</div>  