<div class="container">
  <div class="about-section">
    <h1>Quienes somos</h1>
    <p>BelDom es una red de emprendedores especializados y dedicados a la cosmética y estética, cuyo objetivo principal es satisfacer las necesidades de nuestros clientes.</p>  
    <h1>Mision</h1>
    <p>Al elegirnos ten en cuenta que nuestra misión es satisfacer las necesidades de nuestros clientes mediante servicios de excelencia en calidad, brindados por un personal altamente capacitado y profesional, que inspira confianza y seriedad, todo ello cumpliendo con los debidos protocolos de prevención del COVID-19.</p>
    <h1>Vision</h1>
    <p>Con el aporte de nuestros colaboradores y contigo eligiendo nuestros servicios, queremos llegar a ser reconocidos en el mercado local, y ser identificados por nuestro profesionalismo, calidad y excelente servicio al cliente, y convertirnos en la mejor opción en el mercado dentro de nuestra área física de operación.</p>
    <h1>Nuestro equipo</h1>
    <p> Todos quienes trabajamos en BelDom somos profesionales certificados en distintas áreas de Cosmética, Belleza y Estética . Cada miembro de nuestro equipo posee una amplia experiencia lo que permite a BelDom entregar nuestros servicios de manera segura en la comodidad de su hogar.</p>
    <p>Nuestros especialistas trabajan solamente con productos certificados, para mantener así un alto estándar de satisfacción y calidad,lo que, unido a la experiencia de nuestros colaboradores, nos ayuda a conseguir un alto nivel de satisfacción y seguridad para nuestros clientes. </p>
  </div> 
  <div class="cards">    
    <div class="card">
      <div class="container">
        <div class="card-person">
          <img class="avatar" alt="avatar" src="https://res.cloudinary.com/karina0522/image/upload/v1631282222/foto_hxysbg.jpg" />
          <h3>Carolina Tordecilla</h3>             
        </div>
        <p class="title">Directora y Fundadora</p>
        <p class="font-size">Su sentido de la estética y diseño es innato y los ha perfeccionado mediante estudios, especializándose en Belleza. La Pandemia y su propia necesidad de mantener su aspecto personal la llevó a crear BelDom. Junto con ser nuestra Directora es una de nuestras mejores consultoras.</p>
        <br>
        <br>
        <p>carolina.t@ejemplo.cl</p>
        <%= link_to "https://www.gmail.com", target: "_blank" do  %>
          <button class="btn btn-primary">Contacto</button></p>
        <% end %>
      </div>        
    </div>          
    <div class="card">        
      <div class="container">
        <div class="card-person">
          <img class="avatar" alt="avatar" src="https://res.cloudinary.com/karina0522/image/upload/v1630614586/tarea_olikye.jpg" />
          <h3>Karina Contreras</h3>             
        </div>
        <p class="title">Esteticista Integral</p>
        <p class="font-size">Es una de nuestras profesionales en tratamientos de belleza y estética corporal, y asesora en cuidado dermatológico. Su formación le han entregado un sólido manejo de diversos tipos de maquillaje, cosmetología, depilación, embellecimiento de pies y manos.</p>
        <br>
        <br>
        <p>karina.c@ejemplo.cl</p>
        <%= link_to "https://www.gmail.com", target: "_blank" do  %>
          <button class="btn btn-primary">Contacto</button></p>
        <% end %> 
      </div>        
    </div>          
    <div class="card">        
      <div class="container">
        <div class="card-person">
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
          <h3>Daniel Vega</h3>             
        </div>  
        <p class="title">Tatuador</p>
        <p class="font-size">Un día se enamoró de la expresión y de la sensación de libertad que los tatuajes brindan a las personas. Estudió Arte, y ha participado en distintos talleres de perfeccionamiento. Por su empatía, entiende perfectamente lo que desea el cliente.</p>
        <br>
        <br>
        <p>daniel.c@ejemplo.cl</p>
        <%= link_to "https://www.gmail.com", target: "_blank" do  %>
          <button class="btn btn-primary">Contacto</button></p>
        <% end %>
      </div>        
    </div>         
    <div class="card">        
      <div class="container">
        <div class="card-person">
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob" />
          <h3>Sergio Quiroga</h3>             
        </div>
        <p class="title">Aroma Terapeuta</p>
        <p class="font-size">Sergio es un verdadero conocedor de la Ciencia de la Aromaterapia. Con su conocimiento y su batería de aceites esenciales realiza tratamientos integrales que ayudan a mejorar la salud; a estimular, calmar o curar el cuerpo y la mente del paciente.</p>
        <br>
        <p>sergio.q@ejemplo.cl</p>
        <%= link_to "https://www.gmail.com", target: "_blank" do  %>
          <button class="btn btn-primary">Contacto</button></p>
        <% end %>
      </div>        
    </div>         
    <div class="card">        
      <div class="container">
        <div class="card-person">
          <img class="avatar" alt="avatar" src="https://res.cloudinary.com/karina0522/image/upload/v1630614450/Marcia_cr3kqr.jpg" />
          <h3>Marcia Delgado</h3>             
        </div> 
        <p class="title">Especialista en piercings</p>
        <p class="font-size">El piercing se considera hoy un Arte de Expresión y Transformación Personal. A través de su propio arte Marcia busca no sólo entregar lo mejor de sí, si no también ayudar a que los clientes obtengan el cambio que desean y la transformación de sensaciones que buscan.</p>
        <br>
        <p>marcia.d@ejemplo.cl</p>
        <%= link_to "https://www.gmail.com", target: "_blank" do  %>
          <button class="btn btn-primary">Contacto</button></p>
        <% end %>
      </div>
    </div>      
  </div>
  <br><br><br>
</div>  