<div class="container">
  <div class="about-section">
    <h1>Quienes somos</h1>
    <p>BelDom es una red de emprendedores especializados y dedicados a la cosmética y estética, cuyo objetivo principal es satisfacer las necesidades de nuestros clientes.</p>
  
    <h1>Nuestro equipo</h1>
    <p> Todos quienes trabajamos en BelDom somos profesionales certificados en distintas áreas de Cosmética, Belleza y Estética . Cada miembro de nuestro equipo posee una amplia experiencia lo que permite a BelDom entregar nuestros servicios de manera segura en la comodidad de su hogar.</p>
    <p>Nuestros especialistas trabajan solamente con productos certificados, para mantener así un alto estándar de satisfacción y calidad,lo que, unido a la experiencia de nuestros colaboradores, nos ayuda a conseguir un alto nivel de satisfacción y seguridad para nuestros clientes. </p>
  </div> 
 <div class= "container-home">
   <div class= "col-mb-12">
     <div class="row">
       <div class="column">
         <div class="card">
           <div class="container">
              <div class="card-person">
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
                <h3>Carolina Tordecilla</h3>             
              </div>
              <p class="title">Directora y Fundadora</p>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sociis, quis enim metus semper molestie aenean ante ligula, fermentum felis donec sodales eleifend pulvinar tristique. Blandit turpis quis nam litora ultricies porttitor vivamus lacus, mi montes porta nisl pharetra cubilia eros morbi, dictum metus eu fermentum mauris accumsan sodales. Volutpat mus eleifend semper fusce magna dapibus blandit litora, cubilia eu nisl ultrices justo curabitur facilisi, congue risus vel praesent convallis turpis vivamus.</p>
              <p>carolina.t@ejemplo.cl</p>
              <%= link_to "https://accounts.google.com/signin/v2/challenge/pwd?continue=https%3A%2F%2Fmyaccount.google.com%2Fsigninoptions%2Fpassword%3Fhl%3Des&service=accountsettings&hl=es&osid=1&rart=ANgoxceBJc3Xa5V9CdRIE8l8ufuBfAxDt6tGUa3YBSew3D7rrQ5K07ZFcQv_RyC7MKPZDd4hgDUx56pHWnFJUOIy9eUk3tbQWQ&TL=AM3QAYb_nfLLieNaM25i38-YGOUuo4HrsMFt6I_ZkiGVmGGIhf1jfkqd8Jw2Wjc6&flowName=GlifWebSignIn&cid=1&flowEntry=ServiceLogin", target: "_blank" do  %>
                <button class="btn btn-primary">Contacto</button></p>
              <% end %>
           </div>
         </div>
       </div>
     </div>  
       <br><br><br>
     <div class="row">  
       <div class="column">
         <div class="card">
           <div class="container">
             <div class="card-person">
                <img class="avatar" alt="avatar" src="https://res.cloudinary.com/karina0522/image/upload/v1630614586/tarea_olikye.jpg" />
                <h3>Karina Contreras</h3>             
             </div>
             <p class="title">Esteticista</p>
             <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sociis, quis enim metus semper molestie aenean ante ligula, fermentum felis donec sodales eleifend pulvinar tristique. Blandit turpis quis nam litora ultricies porttitor vivamus lacus, mi montes porta nisl pharetra cubilia eros morbi, dictum metus eu fermentum mauris accumsan sodales. Volutpat mus eleifend semper fusce magna dapibus blandit litora, cubilia eu nisl ultrices justo curabitur facilisi, congue risus vel praesent convallis turpis vivamus.</p>
             <p>karina.c@ejemplo.cl</p>
             <%= link_to "https://accounts.google.com/signin/v2/challenge/pwd?continue=https%3A%2F%2Fmyaccount.google.com%2Fsigninoptions%2Fpassword%3Fhl%3Des&service=accountsettings&hl=es&osid=1&rart=ANgoxceBJc3Xa5V9CdRIE8l8ufuBfAxDt6tGUa3YBSew3D7rrQ5K07ZFcQv_RyC7MKPZDd4hgDUx56pHWnFJUOIy9eUk3tbQWQ&TL=AM3QAYb_nfLLieNaM25i38-YGOUuo4HrsMFt6I_ZkiGVmGGIhf1jfkqd8Jw2Wjc6&flowName=GlifWebSignIn&cid=1&flowEntry=ServiceLogin", target: "_blank" do  %>
               <button class="btn btn-primary">Contacto</button></p>
             <% end %> 
           </div>
         </div>
       </div>
     </div> 
       <br><br><br>
     <div class="row"> 
       <div class="column">
         <div class="card">
           <div class="container">
              <div class="card-person">
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
                <h3>Daniel Córdoba</h3>             
             </div>  
             <p class="title">Tatuador</p>
             <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sociis, quis enim metus semper molestie aenean ante ligula, fermentum felis donec sodales eleifend pulvinar tristique. Blandit turpis quis nam litora ultricies porttitor vivamus lacus, mi montes porta nisl pharetra cubilia eros morbi, dictum metus eu fermentum mauris accumsan sodales. Volutpat mus eleifend semper fusce magna dapibus blandit litora, cubilia eu nisl ultrices justo curabitur facilisi, congue risus vel praesent convallis turpis vivamus.</p>
             <p>daniel.c@ejemplo.cl</p>
             <%= link_to "https://accounts.google.com/signin/v2/challenge/pwd?continue=https%3A%2F%2Fmyaccount.google.com%2Fsigninoptions%2Fpassword%3Fhl%3Des&service=accountsettings&hl=es&osid=1&rart=ANgoxceBJc3Xa5V9CdRIE8l8ufuBfAxDt6tGUa3YBSew3D7rrQ5K07ZFcQv_RyC7MKPZDd4hgDUx56pHWnFJUOIy9eUk3tbQWQ&TL=AM3QAYb_nfLLieNaM25i38-YGOUuo4HrsMFt6I_ZkiGVmGGIhf1jfkqd8Jw2Wjc6&flowName=GlifWebSignIn&cid=1&flowEntry=ServiceLogin", target: "_blank" do  %>
               <button class="btn btn-primary">Contacto</button></p>
             <% end %>
           </div>
         </div>
       </div>
     </div> 
       <br><br><br>
     <div class="row"> 
       <div class="column">
         <div class="card">
           <div class="container">
             <div class="card-person">
                <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
                <h3>Sergio Quiroga</h3>             
             </div>
             <p class="title">Aroma Terapeuta</p>
             <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sociis, quis enim metus semper molestie aenean ante ligula, fermentum felis donec sodales eleifend pulvinar tristique. Blandit turpis quis nam litora ultricies porttitor vivamus lacus, mi montes porta nisl pharetra cubilia eros morbi, dictum metus eu fermentum mauris accumsan sodales. Volutpat mus eleifend semper fusce magna dapibus blandit litora, cubilia eu nisl ultrices justo curabitur facilisi, congue risus vel praesent convallis turpis vivamus.</p>
             <p>sergio.q@ejemplo.cl</p>
             <%= link_to "https://accounts.google.com/signin/v2/challenge/pwd?continue=https%3A%2F%2Fmyaccount.google.com%2Fsigninoptions%2Fpassword%3Fhl%3Des&service=accountsettings&hl=es&osid=1&rart=ANgoxceBJc3Xa5V9CdRIE8l8ufuBfAxDt6tGUa3YBSew3D7rrQ5K07ZFcQv_RyC7MKPZDd4hgDUx56pHWnFJUOIy9eUk3tbQWQ&TL=AM3QAYb_nfLLieNaM25i38-YGOUuo4HrsMFt6I_ZkiGVmGGIhf1jfkqd8Jw2Wjc6&flowName=GlifWebSignIn&cid=1&flowEntry=ServiceLogin", target: "_blank" do  %>
               <button class="btn btn-primary">Contacto</button></p>
             <% end %>
           </div>
         </div>
       </div>
     </div> 
       <br><br><br>
     <div class="row">
       <div class="column">
         <div class="card">
           <div class="container">
             <div class="card-person">
                <img class="avatar" alt="avatar" src="https://res.cloudinary.com/karina0522/image/upload/v1630614450/Marcia_cr3kqr.jpg" />
                <h3>Marcia Delgado</h3>             
             </div> 
             <p class="title">Especialista en piercings</p>
             <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sociis, quis enim metus semper molestie aenean ante ligula, fermentum felis donec sodales eleifend pulvinar tristique. Blandit turpis quis nam litora ultricies porttitor vivamus lacus, mi montes porta nisl pharetra cubilia eros morbi, dictum metus eu fermentum mauris accumsan sodales. Volutpat mus eleifend semper fusce magna dapibus blandit litora, cubilia eu nisl ultrices justo curabitur facilisi, congue risus vel praesent convallis turpis vivamus.</p>
             <p>marcia.d@ejemplo.cl</p>
             <%= link_to "https://accounts.google.com/signin/v2/challenge/pwd?continue=https%3A%2F%2Fmyaccount.google.com%2Fsigninoptions%2Fpassword%3Fhl%3Des&service=accountsettings&hl=es&osid=1&rart=ANgoxceBJc3Xa5V9CdRIE8l8ufuBfAxDt6tGUa3YBSew3D7rrQ5K07ZFcQv_RyC7MKPZDd4hgDUx56pHWnFJUOIy9eUk3tbQWQ&TL=AM3QAYb_nfLLieNaM25i38-YGOUuo4HrsMFt6I_ZkiGVmGGIhf1jfkqd8Jw2Wjc6&flowName=GlifWebSignIn&cid=1&flowEntry=ServiceLogin", target: "_blank" do  %>
               <button class="btn btn-primary">Contacto</button></p>
             <% end %>
           </div>
         </div>
       </div>
     </div>  
       <br><br><br>
    </div> 
  </div>
</div>  